<?xml version='1.0' encoding='utf-8'?>
<widget id="com.meiwei.app" version="1.4.0">
	<name>MeiweiApp</name>
	<description>中高端服务平台</description>
	<author email="dxd.spirits@gmail.com" href="http://www.clubmeiwei.com">Xindong Ding</author>
	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />
	<preference name="splashscreen" value="splash" />
	<content src="index.html" />
</widget>
