#view-home {
	.recommend-flow {
		@include flex-box($orient: vertical, $direction: reverse);
		width: 100%;
	}
	
	.recommend-list-item {
		@include flex-box($pack: start);
		$splitterWidth: 2px;
		$itemHeight: 300px;
		$itemHeight: 125px !default;
		height: $itemHeight;
		width: 100%;
		overflow: hidden;
		position: relative;
		
		img {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 100%;
			//height: $itemHeight;
			//height: 2 * $itemHeight - $splitterWidth;
			border-width: 0 0 $splitterWidth;
			border-style: solid;
			border-color: $brown;
			-webkit-filter: blur(3px); //sepia(50%);
			-webkit-transition: -webkit-filter .36s ease-in-out;
			@include backface-visibility(hidden);
		}
		
		&.hero img {
			-webkit-filter: blur(0);
			-webkit-transition: -webkit-filter .36s ease-in-out;
			@include backface-visibility(hidden);
		}
		
		article {
			color: $white;
			width: 100%;
			min-height: 70px;
			h1 { @include text-overflow(); font-size: 20px; }
			p { font-size: $fontSizeMini; }
			border: 1px solid transparent;
			padding: 20px 17px 5px;
			-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 0;
			@include translate3d(-100%, -45px, 0);
			@include transition(all .35s ease-in-out);
		}
		&.hero article {
			opacity: 1;
			@include translate3d(0, -45px, 0);
			@include transition(all .35s ease-in-out);
		}
		
		> header {
			color: $white;
			text-shadow: 1px 1px 1px $brownDark;
			text-align: center;
			height: 45px;
			max-width: 200px;
			min-width: 100px;
			h1 { @include text-overflow(); }
			border: 13px solid transparent;
			-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 1;
			@include translate3d(0, 0, 0);
			@include transition(all .35s ease-in-out);
		}
		
		&.hero > header {
			opacity: 0;
			@include translate3d(0, -45px, 0);
			@include transition(all .35s ease-in-out);
		}
		
		/*&.hero + .recommend-list-item {
			opacity: 0;
			@include transition(opacity .35s ease-in-out);
		}*/
	}
}
