#view-home {
	@include scrollBottomBanner();
	
	.recommend-flow {
		@include flex-box($orient: vertical, $direction: reverse);
		width: 100%;
	}
	
	.recommend-list-item {
		@include flex-box($pack: start);
		$splitterWidth: 2px;
		$itemHeight: 300px;
		height: $itemHeight;
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 0;
		
		img {
			position: absolute;
			top: 0;
			width: 100%;
			min-height: 100%;
			border-width: 0 0 $splitterWidth;
			border-style: solid;
			border-color: $brown;
			@include backface-visibility(hidden);
		}
		
		article {
			color: $white;
			width: 100%;
			//min-height: 70px;
			h1 { @include text-overflow(); font-size: 20px; }
			p { font-size: $fontSizeMini; }
			border: 1px solid transparent;
			padding: 20px 17px 5px;
			//-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 0;
			@include translate3d(0, -45px, 0);
			@include transition(all .35s ease-in-out);
			
			position: relative;
			.order-button {
				@include size(70px, 70px);
				position: absolute;
				top: 115px;
				right: 0px;
				background: transparent url($bookButtonPath) no-repeat center;
				@include background-size(35px 35px);
			}
		}
		
		&.hero article {
			opacity: 1;
			@include translate3d(0, -45px, 0);
			@include transition(all .35s ease-in-out);
		}
		
		> header {
			color: $white;
			text-shadow: 1px 1px 1px $brownDark;
			text-align: center;
			height: 45px;
			max-width: 200px;
			min-width: 100px;
			h1 { @include text-overflow(); }
			border: 13px solid transparent;
			-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 1;
			@include translate3d(0, 0, 0);
			@include transition(all .35s ease-in-out);
		}
		
		&.hero > header {
			opacity: 0;
			@include translate3d(0, -45px, 0);
			@include transition(all .35s ease-in-out);
		}
		
		/*&.hero + .recommend-list-item {
			opacity: 0;
			@include transition(opacity .35s ease-in-out);
		}*/
	}
}
