#view-home {
	
	&.first-visit::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: transparent url('../img/getstarted/view-home.png') no-repeat top right;
        @include background-size(500px, 1000px)
    }
	
	/*> header h1 {
	    @include border-radius(22px);
	    border: 1px solid $brownDark;
	    margin: 5px 0;
	    padding: 0 15px;
	    font-size: 14px;
	    line-height: 32px;
	    text-align: left;
	}*/
	header h1 {
		position: relative;
		.icon-down-small {
			position: absolute;
			bottom: -7px;
			left: 50%;
			margin-left: -13px;
		}
	}
	
	.search-form {
	    width: 100%;
	    height: 52px;
	    padding: 13px 5px 5px;
	    position: relative;
	    .icon-search {
	        position: absolute;
	        top: 18px;
	        left: 10px;
	    }
	    form {
            @include square(100%);
            > input[type=search] {
                @include border-radius(10px);
                border: 0;
                background-color: lighten($brownLighter, 3%);
                width: 100%;
                height: 34px;
                padding: 7px 15px 7px 33px;
                line-height: 20px;
                text-align: left;
                @include placeholder($brownLight, 14px, 20px);
            }
        }
    }
	
	.recommend-flow {
		@include flex-box($orient: vertical);
		width: 100%;
	}
	
	$itemHeight: 250px;
	$wrapperHeight: 250px; //300px;
	
	.master-hero {
		.viewport {
			@include size($itemHeight - 80px, 100%);
			@include center-block();
			margin-top: 10px;
			padding: 5px 0;
			overflow: hidden;
		}
		@include carousel($carouselWidth: $itemHeight - 80px);
		@include backface-visibility(hidden);
	}
	
	.master-hero, .recommend-list-item {
		width: 100%;
		height: $itemHeight;
		overflow: visible;
	}
	
	.item-wrapper {
		@include flex-box($orient: vertical, $pack: start);
		height: $wrapperHeight;
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 0;
		h1 {
			@include text-overflow();
			font-family: $serifFontFamily;
		}
		> img {
			@include border(2px 0 0, solid, $brown);
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			min-height: $wrapperHeight + 1px;
			@include backface-visibility(hidden);
		}
		> article {
			h1 { font-size: $fontSizeLarge + 2px; line-height: 1.5; margin-bottom: 5px; }
			p { font-size: $fontSizeMini; }
			position: relative;
			z-index: 2;
			top: -45px;
			color: $white;
			width: 100%;
			border: 1px solid transparent;
			padding: 10px 17px 5px;
			opacity: 0;
			visibility: hidden;
			@include transition(all .35s ease-in-out);
			position: relative;
			.order-button {
				@include size(70px, 70px);
				position: absolute;
				top: 90px;
				right: 0px;
				background: transparent url($bookButtonPath) no-repeat center;
				@include background-size(35px 35px);
			}
		}
		> header {
			position: relative;
			z-index: 0;
			color: $white;
			text-shadow: 1px 1px 1px $brownDark;
			text-align: center;
			height: 45px;
			max-width: 200px;
			min-width: 100px;
			border: 13px solid transparent;
			-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 1;
			visibility: visible;
			@include transition(opacity .35s ease-in-out);
		}
		&.snaping {
			@include transition(-webkit-transform .35s linear);
		}
	}
	
	.recommend-list-item.hero .item-wrapper {
		> article { opacity: 1; visibility: visible; }
		> header { opacity: 0; visibility: hidden; }
	}
	.recommend-list-item .item-wrapper::before {
		content: "";
		position: absolute;
		z-index: 1;
		@include size($itemHeight, 100%);
		background: transparent url($blackShadowPathR) no-repeat top;
		@include background-size(100% $itemHeight);
		opacity: 0.4;
	}
	
	.show-more {
	    padding: 15px 30px;
	    text-align: center;
	    color: $brown;
	}
	
    .recommends-filter {
	    position: absolute;
	    background-color: $white;
	    top: 0; right: 0; left: 0;
	    height: 90%;
	    @include transition(all .35s ease-in-out);
	    overflow: hidden;
	    .recommends-filter-wrapper {
	    	width: 100%;
	    	padding-top: 10px;
	   	}
	    .filter-item {
	        //font-family: 'CaviarDreams', sans-serif;
            padding: 15px 20px;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid $brownLighter;
            &:first-child {
            	border-top: 1px solid $brownLighter;
            }
        }
        .filter-item:active, .filter-item.selected {
        	background-color: $brownLighter;
        }
	}
	.recommends-filter.closed {
        visibility: hidden;
        opacity: 0;
        @include translate3d(0, -100%, 0);
    }
}

#view-getstarted {
    padding: 0;
    > header::before {
        background: none;
    }
    .viewport {
        overflow: hidden;
        width: 240px;
        height: 430px;
    }
    @include carousel($carouselWidth: 240px);
    .indicator {
        width: 70px;
    }
    .carousel-item {
        padding: 0;
    }
    img {
        width: 240px;
    }
}
