#view-member-login {
	.scroll-inner {
		height: 360px;
	}
	.scroll-inner > header {
		height: 170px;
		img {
			position: relative;
			top: 50%;
			margin-top: -30px;
			@include square(70px);
		}
	}
	.login-box {
		height: 200px;
		width: 70%;
	}
	.social-box {
		@include size(105px, 100%);
		& > header {
			height: 28px;
			line-height: 30px;
			color: $brownDark;
			text-align: center;
			vertical-align: middle;
			border-width: 1px 0;
			border-style: solid;
			border-color: $brownDark;
		}
		.social-icons {
			padding: 15px 0;
			text-align: center;
			img {
				@include square(45px);
			}
		}
	}
}

#view-member-profile {
	.member-profile-form {
	    width: 90%;
	    padding: 0 5%;
	    margin: 20px 0 15px;
	}
	.member-password-form {
	    width: 90%;
	    padding: 0 5%;
	    margin-bottom: 20px;
	    @include border(2px 0 0 0, solid, $brown);
	}
	input[name=nickname] {
		text-align: center;
	}
	button {
		width: 100%;
		margin: 0 auto;
	}
}

#view-member-center {
	@include scrollBottomBanner();
	.favorite-resto-carousel {
		z-index: 0;
		height: 200px - 45px;
		width: 100%;
		position: relative;
		img {
		   	width: 100%;
			min-height: 200px;
			position: absolute;
			bottom: -45px;
		}
	}
	.member-profile-box {
		z-index: 1;
		position: relative;
		font-size: $fontSizeMini;
		@include size(90px, 100%);
		margin-bottom: 10px;
		@include clearfix();
		&::before {
			content: "";
			position: absolute;
			top: -15px;
			z-index: -1;
			@include size(60px, 100%);
			background: transparent url($blackShadowPath) no-repeat top;
			@include background-size(100% 60px);
		}
		& > div {
			float: left;
			height: 90px;
			&:first-child { width: 40%; }
			&:last-child { width: 60%; }
		}
		.avatar {
			@include square(90px);
			border: 2px solid $brown;
			margin: 0 auto;
			background-color: $white;
			overflow: hidden;
			img { @include square(100%); }
		}
		h1 {
			color: $white;
			margin: 13px 0;
			font-size: $fontSizeLarge;
			//text-shadow: 1px 1px 3px $brownDark;
		}
		p {
			margin: -5px 0;
			@include text-overflow();
		}
	}
	$listItemHeight: 45px;
	$listItemWidth: 100%; //93.75%;
	$buttonWidth: 70%; //62.5%;
	$listPadding: ($listItemWidth - $buttonWidth) / 2;
	ul.member-center-nav {
		width: $listItemWidth;
		li {
			width: 100%;
			height: $listItemHeight;
			font-size: $fontSizeSmall;
			line-height: $listItemHeight;
			text-align: center;
			position: relative;
			background: transparent url($gradientShadowPathR) no-repeat top;
			@include background-size(100% $listItemHeight);
		}
		li:active {
			background: $brownLighter;
		}
		li::after {
			content: "";
			position: absolute;
			top: ($listItemHeight - 26px) / 2;
			right: $listPadding;
			font-weight: bold;
			@include icon-offset(3, 4);
		}
	}
	.logout-button {
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% $listItemHeight);
		width: $listItemWidth;
		padding: 10px $listPadding;
		button { width: 100%; }
	}
}

#view-member-favorites {
	.restaurant-list-item {
		padding: 9px 45px 9px 99px;
		section { @include square(100%); }
		p { white-space: normal; }
	    > .delete-button {
	    	padding: 32px 2px;
			width: 30px;
			position: absolute;
			right: 0;
			top: 0;
	    }
	}
}
