#view-member-login {
	.scroll-inner {
		height: 495px;
	}
	.scroll-inner > header {
		height: 190px;
		img {
			position: relative;
			top: 50%;
			margin-top: -30px;
			@include square(70px);
		}
	}
	.login-box {
		height: 200px;
		width: 70%;
	}
	.social-box {
		@include size(105px, 100%);
		& > header {
			height: 28px;
			line-height: 30px;
			color: $brownDark;
			text-align: center;
			vertical-align: middle;
			border-width: 1px 0;
			border-style: solid;
			border-color: $brownDark;
		}
		.social-icons {
			padding: 15px 0;
			text-align: center;
			img {
				@include square(45px);
			}
		}
	}
}

#view-member-profile {
	form {
	    width: 90%;
	    margin-top: 30px;
	}
	input[name=nickname] {
		text-align: center;
		@include flexible(2);
	}
	button {
		width: 100%;
		margin: 0 auto;
	}
}

#view-member-center {
	.favorite-resto-carousel {
		z-index: 0;
		height: 200px - 45px;
		width: 100%;
		position: relative;
		img {
		   	width: 100%;
			height: 200px;
			position: absolute;
			top: 0;
			visibility: hidden;
		    &.back {
		    	@include animation(fadeout 1s ease-in-out);
		    }
		    &.front {
		    	visibility: visible;
		   		@include animation(fadein 1s ease-in-out);
		   	}
		   	@include backface-visibility(hidden);
		}
	}
	
	.member-profile-box {
		z-index: 1;
		position: relative;
		font-size: $fontSizeMini;
		@include size(90px, 100%);
		margin-bottom: 10px;
		@include clearfix();
		& > div {
			float: left;
			height: 90px;
		}
		.avatar {
			@include square(90px);
			border: 2px solid $brown;
			margin: 0 9%;
			background-color: $white;
		}
		h1 {
			color: $white;
			margin: 13px 0;
			font-size: $fontSizeLarge;
		}
		p {
			margin: -5px 0;
		}
	}
	
	$listItemHeight: 45px;
	$listItemWidth: 93.75%;
	$buttonWidth: 62.5%;
	$listPadding: ($listItemWidth - $buttonWidth) / 2;
	
	ul.member-center-nav {
		width: $listItemWidth;
		li {
			width: 100%;
			height: $listItemHeight;
			font-size: $fontSizeSmall;
			line-height: $listItemHeight;
			text-align: center;
			position: relative;
			background: transparent url($gradientShadowPathR) no-repeat top;
			@include background-size(100% $listItemHeight);
		}
		li::after {
			content: ">";
			position: absolute;
			right: $listPadding;
			font-weight: bold;
		}
	}
	.logout-button {
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% $listItemHeight);
		width: $listItemWidth;
		padding: 10px $listPadding;
		button { width: 100%; }
	}
}

#view-member-favorites {
	
	.restaurant-list-item {
		padding: 9px 45px 9px 99px;
		section { @include square(100%); }
		p { white-space: normal; }
	    > .delete-button {
	    	padding: 32px 2px;
			width: 30px;
			position: absolute;
			right: 0;
			top: 0;
	    }
	}
}
