#view-request-driver {
    .map {
        width: 100%;
        height: 280px;
        position: relative;
        > h2 {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 2px 5px;
            background: rgba(255, 255, 255, .1);
        }
    }
    .asap {
        padding: 5px;
        margin: 0 15px;
        color: $brown;
        border: 1px solid $brown;
        @include border-radius(5px);
        &.checked {
            color: $white;
            background-color: $brown;
        }
    }
    .amap-logo,.amap-copyright{
    	visibility:hidden;
    }
    .order-form {
        width: 90%;
        margin: 20px 0;
    }
    .amap-copyright {
        display: none;
    }
    .switch-gender {
        @include flexible($flex: 2, $orient: horizontal);
    }
    .contact-menu {
        width: 100%;
        font-size: $baseFontSize;
        line-height: 40px;
        text-align: center;
        position: relative;
        &.pressed, &:active {
            background: $brownLighter;
        }
        &::after {
            content: "";
            position: absolute;
            top: (40px - 26px) / 2;
            right: 10px;
            @include icon-display();
            @include icon-offset(3, 4);
        }
    }
}

#view-vvip {
    .wrapper > form {
        width: 90%;
        margin: 20px auto;
        background: $bodyBackground url($gradientShadowPathR) no-repeat top;
        @include background-size(100% (3*$baseLineHeight));
    }
    .section-title {
        margin: 0 -5.263157894% -10px;
        height: 40px;
        text-align: center;
        font-size: $fontSizeSmall;
        position: relative;
        > h1 {
            font-size: $baseFontSize;
            line-height: 40px;
            text-align: center;
        }
        &.menu > h1.pressed, &.menu > h1:active {
            background: $brownLighter;
        }
        &.menu > h1::after {
            content: "";
            position: absolute;
            top: (40px - 26px) / 2;
            right: 15%;
            @include icon-display();
            @include icon-offset(3, 4);
        }
    }
    .service-detail.departure {
        .label-arrival { display: none; }
        .service-type[data-type=departure] {
            color: $brown;
            font-weight: bold;
        }
    }
    .service-detail.arrival {
        .label-departure { display: none; }
        .service-type[data-type=arrival] {
            color: $brown;
            font-weight: bold;
        }
    }
    .service-type {
        width: 50%;
        height: 100%;
        color: $brownLight;
        cursor: pointer;
    }
    .guest-list .remove {
        display: inline-block;
        margin-left: 20px;
    }
}
