#view-request-driver {
    .map {
        width: 100%;
        height: 280px;
    }
    .asap {
        padding: 5px;
        margin: 0 15px;
        color: $brown;
        border: 1px solid $brown;
        @include border-radius(5px);
        &.checked {
            color: $white;
            background-color: $brown;
        }
    }
    .order-form {
        width: 90%;
        margin: 20px 0;
    }
    .amap-copyright {
        display: none;
    }
    .switch-gender {
        @include flexible($flex: 2, $orient: horizontal);
    }
}
