#view-order-detail {
	.wrapper header {
		@include size(170px, 100%);
		img { @include size(140px, 100%); }
		h1 {
			text-align: center;
			margin-top: 10px;
		}
	}
	.order-detail {
		width: 100%;
		padding: 10px 40px;
		margin: 10px 0;
		background: url($gradientShadowPathR) repeat-x top, url($gradientShadowPath) repeat-x bottom;
		@include background-size(100% 60px, 100% 60px);
	}
	.order-product {
		width: 100%;
		padding: 0 40px;
		p { margin: 5px 0; }
		.products {
			width: 100%;
			@include clearfix();
			.product-item {
				@include square(65px);
				float: left;
				border: 1px solid $brown;
				margin: 1.666667%;
				img { @include square(100%); @include center-block(); }
			}
		}
	}
    .btn-cancel {
    	width: 70%;
    	margin: 10px 0;
    }
}

#view-product-purchase, #view-product-redeem {
	.scroll-inner {
		padding: 15px 17px 0;
	}
	.product-box {
		width: 100%;
		margin: 5px 0;
		text-align: center;
		p { font-size: $fontSizeMini; }
	}
	.viewport {
		@include size(150px, 250px);
		@include center-block();
		padding: 5px 0;
		overflow: hidden;
		background: url($gradientShadowPath) repeat-x bottom, url($gradientShadowPathR) repeat-x top;
		@include background-size(100% auto, 100% auto);
	}
	
	@include carousel($carouselWidth: 150px);
}

#view-product-purchase .carousel-item.selected::after {
	content: "";
	@include icon-offset(5, 5);
	position: absolute;
	top: 1px;
	right: 5px;
}

#view-attending {
	.viewport {
		overflow: hidden;
		//max-height: 500px;
		@include size(100%, 300px);
		@include center-block();
		@include background-size(100% auto, 100% auto);
	}
	
	@include carousel($carouselWidth: 250px);
	
	.order-page-item {
		position: relative;
		
		.section-header-img {
			height: 150px;
	        width: 100%;
	        margin: 10px 0;
	       	overflow: hidden;
	       	@include border-top-left-radius(15px);
	       	@include border-top-right-radius(15px);
	       	img { @include square(100%); }
		}
		
		.order-detail {
			width: 85%;
			@include center-block();
			@include flex-box($pack: end);
			.section-qrcode {
				display: none;
		        @include square(110px);
		        padding: 10px;
		        background-color: $white;
			}
			> header {
				h1 { @include text-overflow(); }
				line-height: 1.5*$baseLineHeight;
				height:30px;
				width: 100%;
				text-align:center;
				background: transparent url($gradientShadowPathR) no-repeat top;
				@include background-size(100% 60px);
			}
			table {
				margin-bottom: 10px;
			}
			.button-group {
				width: 100%;
			}
		}
	}
}
