#view-order-detail {

	$section-width: 70%;

	p {
		font-size: $fontSizeMini;
		overflow: hidden; 
		line-height: $baseLineHeight;
	}

	p.title { font-size: 10px; color:$brown; }
	p.content { font-size: 12px; color:$brownDark;  }

	.section-header-img {
		@include size(140px, 100%);
		img { @include square(100%); }
	}

	.section-header h1 {
		padding: 5px 0px 5px;
	}

	.section-content {
		width: $section-width;
		padding: 5px 0px 5px;
		div {
			width:45%;
			display: inline-block;
		}
		background: transparent url($gradientShadowPathR) repeat-x top;
		@include background-size(100% 60px);
	}
	
	.section-content2 {
		@extend .section-content;
		background: none;
	}
	
	.section-ex {
		width: $section-width;
		border-top-width: 1px;
		border-style: solid;
		border-color: $brownLight;
		padding: 5px;
		.ex-pictures {
			width: 100%;
			@include clearfix();
			.product-item {
				//width: 30%;
				//height: 100px;
				@include square(65px);
				float: left;
				border: 1px solid $brown;
				margin: 1.666667%;
				img { @include square(100%); @include center-block(); }
			}
		}
	}
	.delete-order {
    	@include flex-box();
    	padding:15px;
    }
    .btn-cancel {
    	@include flexible();
    	width:90%;
    	
    }
}

#view-product-purchase, #view-product-redeem {
	.scroll-inner {
		padding: 15px 17px 0;
	}
	.product-box {
		width: 100%;
		margin: 5px 0;
		text-align: center;
		p { font-size: $fontSizeMini; }
	}
	.viewport {
		@include size(150px, 250px);
		@include center-block();
		padding: 5px 0;
		overflow: hidden;
		background: url($gradientShadowPath) repeat-x bottom, url($gradientShadowPathR) repeat-x top;
		@include background-size(100% auto, 100% auto);
	}
	
	@include carousel($carouselWidth: 150px);
}

#view-product-purchase .carousel-item.selected::after {
	content: "";
	@include icon-offset(5, 5);
	position: absolute;
	top: 1px;
	right: 5px;
}

#view-attending {
	.viewport {
		overflow: hidden;
		//max-height: 500px;
		@include size(100%, 300px);
		@include center-block();
		@include background-size(100% auto, 100% auto);
	}
	
	@include carousel($carouselWidth: 250px);
	
	.order-page-item {
		position: relative;
		
		.section-header-img {
			height: 150px;
	        width: 100%;
	        margin: 10px 0;
	       	overflow: hidden;
	       	@include border-top-left-radius(15px);
	       	@include border-top-right-radius(15px);
	       	img { @include square(100%); }
		}
		
		.order-detail {
			width: 85%;
			@include center-block();
			@include flex-box($pack: end);
			.section-qrcode {
				display: none;
		        @include square(150px);
		        padding: 10px;
		        background-color: $white;
			}
			> header {
				h1 { @include text-overflow(); }
				line-height: 1.5*$baseLineHeight;
				height:30px;
				width: 100%;
				text-align:center;
				background: transparent url($gradientShadowPathR) no-repeat top;
				@include background-size(100% 60px);
			}
			table {
				margin-bottom: 10px;
			}
			.button-group {
				width: 100%;
			}
		}
	}
}
