#view-order-detail, #view-generic-order-detail {
    .wrapper {
        background-repeat: no-repeat;
        background-position: center top;
        @include background-size(contain);
        padding-top: 50%;
    }
	.item-name {
        width: 100%;
        padding: 10px 17px;
        text-align: center;
        @include text-overflow();
        background-color: $bodyBackground;
	}
	.order-detail {
		width: 100%;
		padding: 10px 40px;
		background: url($gradientShadowPathR) repeat-x top, url($gradientShadowPath) repeat-x bottom;
		background-color: $bodyBackground;
		@include background-size(100% 60px, 100% 60px);
        min-height:100%;
	}
	.order-product {
		width: 100%;
		padding: 0 40px;
		p { margin: 5px 0; }
		.products {
			width: 100%;
			@include clearfix();
			.product-item {
				@include square(65px);
				float: left;
				border: 1px solid $brown;
				margin: 1.666667%;
				img { @include square(100%); @include center-block(); }
			}
		}
	}
	.order-buttons {
	    width: 100%;
	    background-color: $bodyBackground;
	    padding: 20px 40px;
	}
}

#view-generic-order-list, #view-generic-order-detail {
    .payment_status {
        font-size: 90%;
        display: inline-block;
        margin: 0 10px;
        color: $brownLight;
        &.paid {
            color: #27AE60;
        }
    }
}

#view-attending {
    .wrapper {
        -webkit-box-pack: center;
    }
	.viewport {
		overflow: hidden;
		@include square(100%);
		@include background-size(100% auto, 100% auto);
	}
	@include carousel($carouselWidth: 250px);
	.order-page-item {
		position: relative;
	}
	.section-header-img {
        height: 150px;
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
    }
    .order-detail {
        width: 85%;
        @include center-block();
        @include flex-box($orient: vertical, $pack: end);
        > .section-qrcode {
            display: none;
            @include square(110px);
            padding: 5px;
            background-color: $white;
        }
        > h1 {
            line-height: 1.5*$baseLineHeight;
            height:30px;
            width: 100%;
            text-align:center;
            background: transparent url($gradientShadowPathR) no-repeat top;
            @include background-size(100% 60px);
            @include text-overflow();
        }
        > table {
            margin-bottom: 10px;
        }
        > .button-group {
            width: 100%;
            button { font-size: $fontSizeMini; }
        }
    }
    .discount-text {
        width: 200px;
        @include text-overflow();
    }
	.hint-text {
		width: 80%;
		.btn { margin: 20px auto; }
	}
}
