#view-package-order {
    .wrapper {
        padding-bottom: 20px;
    }
    .banner {
        padding-top: 47%;
        width: 100%;
    }
    .price-and-counts {
        border-top: 1px solid $brownLight;
        padding: 10px 20px;
        font-size: $fontSizeMini;
        .price {
            display: inline-block;
            margin-right: 5px;
            color: #9c1e37;
            font-size: $baseFontSize;
        }
        .count {
            display: inline-block;
            background-color: $brownLight;
            color: $white;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 20px;
        }
    }
    .package-product {
        font-size: $fontSizeMini;
        width: 90%;
        padding-top: 20px;
        .product-name {
            margin-bottom: 10px;
        }
        background: url($gradientShadowPathR) repeat-x top;
        @include background-size(100% 60px);
    }
    .option-tabs {
        .btn, button {
            font-size: 14px;
            margin-right: 1px;
            border: 0;
            border-radius: 0;
            background-color: $brownLight;
            color: $white;
            &.active {
                background-color: $brown;
            }
        }
    }
    .panel {
        .img {
            width: 45%;
            padding-top: 45%;
        }
        p {
            margin-bottom: 10px;
        }
        .text {
            width: 50%;
            padding-top: 10px;
        }
        .large {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: $fontSizeMini + 2px;
        }
        .small {
            font-size: $fontSizeMini - 2px;
        }
    }
    .product-birthday {
        fieldset {
            margin-bottom: 5px;
        }
    }
    .product-anniversary {
        .slider {
            @include scrollable();
        }
        .slider-inner {
            width: 600px;
        }
        .slider-item {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 20px 5px;
            width: 100px;
            height: 100px;
            broder-radius: 3px;
            overflow: hidden;
        }
        .tag {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5px;
            line-height: 1;
            text-align: center;
            color: $white;
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .small {
            font-size: $fontSizeMini - 2px;
        }
        .text {
            padding-top: 5px;
        }
        fieldset {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
}

#view-package-order-confirm {
    .wrapper {
        padding-top: 5px;
    }
    .contact-info {
        width: 100%;
        padding: 0 10%;
        background: $bodyBackground url($gradientShadowPathR) no-repeat top;
        @include background-size(100% (3*$baseLineHeight));
    }
    fieldset {
        margin: 0;
        border-width: 1px 0 0 0;
        @include border-radius(0);
    }
    .inline-group {
        border-right: none;
    }
    .section-title {
        margin: 0 -12.5%;
        height: 40px;
        font-size: $fontSizeSmall;
        position: relative;
        > h1 {
            font-size: $baseFontSize;
            line-height: 40px;
            text-align: center;
        }
        &.menu > h1.pressed, &.menu > h1:active {
            background: $brownLighter;
        }
        &.menu > h1::after {
            content: "";
            position: absolute;
            top: (40px - 26px) / 2;
            right: 10%;
            @include icon-display();
            @include icon-offset(8, 2);
        }
    }
    .switch-gender {
        @include flexible($flex: 0, $orient: horizontal);
        width: 70px;
    }
    .order-submit-button {
        background: $bodyBackground url($gradientShadowPathR) no-repeat top;
        @include background-size(100% (3*$baseLineHeight));
        padding: 30px 10% 15px;
        width: 100%;
        > .btn { width: 100%; }
    }
}

#view-package-order-detail {
    .wrapper {
        padding-bottom: 20px;
    }
    .banner {
        padding-top: 47%;
        width: 100%;
    }
    .order-detail {
        background: $bodyBackground url($gradientShadowPathR) no-repeat top;
        @include background-size(100% (3*$baseLineHeight));
        border-bottom: 1px solid $brownLight;
        width: 90%;
        padding-top: 10px;
        margin-bottom: 30px;
        table {
            margin-top: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }
        tr {
            border-bottom: 1px solid $brownLight;
        }
        td {
            font-size: $fontSizeMini;
            padding-top: 5px;
            padding-bottom: 5px;
            &.complete {
                color: $brownDark;
                font-weight: bold;
            }
        }
        th {
            background-color: $brownLight;
            color: #9c1e37;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: bold;
        }
    }
    .contact-detail {
        width: 100%;
        > section {
            background: $bodyBackground url($gradientShadowPathR) no-repeat top;
            @include background-size(100% (3*$baseLineHeight));
            margin-top: 10px;
            margin-bottom: 20px;
            padding-left: 10%;
            padding-right: 10%;
            > p {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $brownLight;
                font-size: $fontSizeSmall;
                .icon {
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
        .callus-button {
            padding: 0 10%;
        }
    }
}
