@-webkit-keyframes flipinfromleft {
	from { -webkit-transform: rotateY(180deg) scale(.65); opacity: 0; }
	50% { opacity: .4; }
	to { -webkit-transform: rotateY(0) scale(1); opacity: 1; }
}

@-webkit-keyframes flipouttoleft {
	from { -webkit-transform: rotateY(0) scale(1); opacity: 1; }
	50% { opacity: .4; }
	to { -webkit-transform: rotateY(-180deg) scale(.65); opacity: 0; }
}

.flipper {
	-webkit-perspective: 1000;
	perspective: 1000;
	
	position: relative;
	.front, .back {
		@include backface-visibility(hidden);
		position: absolute;
		top: 0;
	}
	&.flip .back, &:not(.flip) .front {
		@include rotateY(0);
		@include animation(flipinfromleft .6s ease-in-out);
	}
	&.flip .front, &:not(.flip) .back {
		@include rotateY(180deg);
		@include animation(flipouttoleft .6s ease-in-out);
		z-index: -1;
		opacity: 0;
	}
}

#view-restaurant-search {
	.filter-bar {
		.cuisine li, .circle li, .sort li {
			line-height: 30px;
		}
	}
	.map_canvas {
		margin-top: 50px;
		padding-bottom: 50px;
		&, & #map_canvas {
			@include square(100%);
		}
		.map-marker-info {
			@extend .restaurant-list-item;
			position: absolute;
			z-index: 2;
			bottom: 50px;
			background-color: $white;
			width: 100%;
			@include translate3d(0, 90px, 0);
			@include transition(-webkit-transform .6s ease-in-out);
			&.expand {
				@include translate3d(0, 0, 0);
				@include transition(-webkit-transform .6s ease-in-out);
			}
		}
	}
}

#view-restaurant-detail {
	
	.restaurant-pictures {
		@include flex-box($orient: vertical);
		//Make the pictures wrapper 2X wider.
		position: relative;
		//left: -50%;
		
		height: 250px;
		overflow: hidden;
		img {
			@include square(100%);
		}
	}
	
	.restaurant-profile {
		width: 90%;
		
		@include border(0 0 1px, solid, $brownLight);
		
		font-size: $fontSizeMini;
		line-height: $fontSizeMini;
		
		position: relative;
		.rating {
			position: absolute;
			top: -40px;
			left: 0;
		}
		.order-button {
			@include size(35px, 100px);
			position: absolute;
			top: -45px;
			right: 0;
			text-indent: 50px;
			line-height: 40px;
			vertical-align: middle;
			color: $white;
			font-size: 20px;
			background: transparent url($bookButtonPath) no-repeat bottom left;
			@include background-size(35px 35px);
		}
		
		article {
			padding: $baseLineHeight/2 0;
			@include size(3 * $baseLineHeight, 100%);
			color: $brown;
			p {
				@include square(100%);
				overflow: hidden; 
				line-height: $baseLineHeight;
			}
			background: transparent url($gradientShadowPath) repeat-x bottom;
			@include background-size(100% (3*$baseLineHeight));
		}
		
		.information  {
			color: $brownDark;
			margin: 16px 0;
			p {
				margin: 10px 0;
				@include text-overflow();
			}
		}
		
	}
	
	.restaurant-reviews {
		width: 90%;
		font-size: $fontSizeMini;
	}
	
	.callus-button {
		width: 90%;
		padding: 20px 10%;
		.btn {
			@include center-block();
			width: 100%;
			text-indent: -20px;
		}
		background: transparent url($gradientShadowPathR) repeat-x top;
		@include background-size(100% 60px);
	}

}

#view-restaurant-order {
input {
	font-size:10px;
	}
	 textarea {
	 font-size:10px;
	 }
	.order-info {
		width: 250px;
		fieldset {
			border-width: 1px 0;
			@include border-radius(0);
		}
	}
	.section-header-img {
	     display:block;
		 max-height:140px;
         width:100%;
         overflow: hidden;
	}
	.restaurant-name{
    font-size: 16px;
    overflow: hidden; 
    line-height: 1.5*$baseLineHeight;
    text-align:center;
  }
  .order-heading{
  font-size: 13px;
	color: brownDark;
	text-align:center;
	padding: 0 10px;
	line-height: 1.5*$baseLineHeight;
  }
	.form-heading {
	font-size: 13px;
	color: brownDark;
	text-align:center;
	padding: 0 10px;
	line-height: 1.5*$baseLineHeight;
	}

	.contact-info {
	width:250px;
	}
	.addtional-info {
		width:250px;
}
	.inline {
		
	   position:relative;
		overflow: hidden;
		border-bottom:1px ;
		border-style:solid;
		border-color: $brownLight;
	//	@include block-field-set();
		@include flex-box($orient: horizontal);
	//	@include flexible();
	input {
	border:none;
	}
     	
}
   .inline-contact   {
   	@include flexible();
   	
	   }
$listItemHeight: 45px;
		$listItemWidth: 63.75%;
		$buttomWidth: 62.5%;
		$listPadding: ($listItemWidth - $buttomWidth) / 2;
.form-heading::after{
            content: ">";
			position: absolute;
			right: $listPadding;
			font-weight: bold;
}
.btn-wide {@include center-block();
width:200px;

}
.submit-order-button {
padding:15px 0;}
}
