#view-restaurant-search {
	.collapsible {
		position: relative;
		& > .collapsible-inner {
			@include scrollable(5px);
			position: absolute;
			z-index: $zindexPopover;
			top: 30px;
			height: 0;
			background-color: $brown;
			color: $white;
			width: 100%;
			@include transition(height .35s ease-in-out);
		}
		&.expand > .collapsible-inner {
			height: 200px;
			@include transition(height .35s ease-in-out);
		}
	}
	
	.cuisine li, .circle li, .sort li {
		line-height: 30px;
	}
	
	.restaurant-list-item {
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: $brownDark;
		padding: 9px 17px 9px 99px;
		@include size(90px, 100%);
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			@include square(89px);
		}
		p {
			font-size: $fontSizeMini;
		}
		.rating {
			position: absolute;
			right: 17px;
			bottom: 9px;
			border: 1px solid black;
			width: 20px;
			height: 5px;
		}
	}
}

#view-restaurant-search-map {
	#map-canvas {
		@include square(100%);
	}
}

#view-restaurant-detail {
	
	.restaurant-pictures {
		@include flex-box($orient: vertical);
		//Make the pictures wrapper 2X wider.
		position: relative;
		//left: -50%;
		
		height: 250px;
		overflow: hidden;
		img {
			@include square(100%);
		}
	}
	
	.restaurant-profile {
		width: 90%;
		
		border-width: 0 0 1px;
		border-style: solid;
		border-color: $brownLight;
		
		font-size: $fontSizeMini;
		line-height: $fontSizeMini;
		
		article {
			padding: $baseLineHeight/2 0;
			@include size(3 * $baseLineHeight, 100%);
			color: $brown;
			p {
				@include square(100%);
				overflow: hidden; 
				line-height: $baseLineHeight;
			}
			background: transparent url($gradientShadowPath) repeat-x bottom;
			@include background-size(100% (3*$baseLineHeight));
		}
		
		.information  {
			color: $brownDark;
			margin: 16px 0;
			p {
				margin: 10px 0;
				@include text-overflow();
			}
		}
		
	}
	
	.restaurant-reviews {
		width: 90%;
		font-size: $fontSizeMini;
	}
	
	.callus-button {
		width: 90%;
		padding: 20px 10%;
		.btn {
			@include center-block();
			width: 100%;
			text-indent: -20px;
		}
		background: transparent url($gradientShadowPathR) repeat-x top;
		@include background-size(100% 60px);
	}

}

#view-restaurant-order {
input {
	font-size:10px;
	}
	 textarea {
	 font-size:10px;
	 }
	.order-info {
		width: 250px;
		fieldset {
			border-width: 1px 0;
			@include border-radius(0);
		}
	}
	.section-header-img {
	     display:block;
		 max-height:140px;
         width:100%;
         overflow: hidden;
	}
	.restaurant-name{
    font-size: 16px;
    overflow: hidden; 
    line-height: 1.5*$baseLineHeight;
    text-align:center;
  }
  .order-heading{
  font-size: 13px;
	color: brownDark;
	text-align:center;
	padding: 0 10px;
	line-height: 1.5*$baseLineHeight;
  }
	.form-heading {
	font-size: 13px;
	color: brownDark;
	text-align:center;
	padding: 0 10px;
	line-height: 1.5*$baseLineHeight;
	}

	.contact-info {
	width:250px;
	}
	.addtional-info {
		width:250px;
}
	.inline {
		
	   position:relative;
		overflow: hidden;
		border-bottom:1px ;
		border-style:solid;
		border-color: $brownLight;
	//	@include block-field-set();
		@include flex-box($orient: horizontal);
	//	@include flexible();
	input {
	border:none;
	}
     	
}
   .inline-contact   {
   	@include flexible();
   	
	   }
$listItemHeight: 45px;
		$listItemWidth: 63.75%;
		$buttomWidth: 62.5%;
		$listPadding: ($listItemWidth - $buttomWidth) / 2;
.form-heading::after{
            content: ">";
			position: absolute;
			right: $listPadding;
			font-weight: bold;
}
.btn-wide {@include center-block();
width:200px;

}
.submit-order-button {
padding:15px 0;}
}
