#view-restaurant-search {

	.restaurant-list-item {
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: $brownDark;
		padding: 9px 17px 9px 99px;
		@include size(90px, 100%);
		height: 90px;
		width: 100%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			@include square(89px);
		}
		p {
			font-size: $fontSizeMini;
		}
		.rating {
			position: absolute;
			right: 17px;
			bottom: 9px;
			border: 1px solid black;
			width: 20px;
			height: 5px;
		}
	}
	
	.filter {
		@include size(50px, 100%);
		background-color: $brown;
		overflow: hidden;
		> div {
			@include size(20px, 32%);
			margin-top: 17px;
			//padding-left: 13px;
			display: inline-block;
			text-align: center;
			font-size: $fontSizeSmall;
			color: $white;
		}
		.icon-down {
			width: 9px;
		}
	}

}

#view-restaurant {
	.restaurant-pictures {
		@include flex-box($orient: vertical);
		//Make the pictures wrapper 2X wider.
		position: relative;
		//left: -50%;
		
		height: 250px;
		overflow: hidden;
		img {
			@include square(100%);
		}
	}
	
	.restaurant-profile {
		width: 90%;
		
		border-width: 0 0 1px;
		border-style: solid;
		border-color: $brownLight;
		
		font-size: $fontSizeMini;
		line-height: $fontSizeMini;
		
		article {
			padding: $baseLineHeight/2 0;
			@include size(3 * $baseLineHeight, 100%);
			color: $brown;
			p {
				@include square(100%);
				overflow: hidden; 
				line-height: $baseLineHeight;
			}
			background: transparent url($gradientShadowPath) repeat-x bottom;
			@include background-size(100% (3*$baseLineHeight));
		}
		
		.information  {
			color: $brownDark;
			margin: 16px 0;
			p {
				margin: 10px 0;
				@include text-overflow();
			}
		}
		
	}
	
	.restaurant-reviews {
		width: 90%;
		font-size: $fontSizeMini;
	}
	
	.callus-button {
		width: 90%;
		padding: 20px 10%;
		.btn {
			@include center-block();
			width: 100%;
			text-indent: -20px;
		}
		background: transparent url($gradientShadowPathR) repeat-x top;
		@include background-size(100% 60px);
	}

}

#view-restaurant-order {
	.order-info {
		width: 250px;
		fieldset {
			border-width: 1px 0;
			@include border-radius(0);
		}
	}
}
