<header><p>预订信息</p></header>
<form>
	<fieldset>
		<div class="inline-group">
			<i class="icon-calendar"></i>
			<input type="date" name="orderdate" value="{{ order.orderdate }}"/>
		</div>
		<div class="inline-group">
			<i class="icon-clock"></i>
			<!--<input type="time" name="ordertime" min="19:00:00" max="20:00:00" value="{{ order.ordertime }}"/>-->
			<select name="ordertime" value="{{ order.ordertime }}">
				<option value="19:00">19:00</option>
				<option value="20:00">20:00</option>
				<option value="21:00">21:00</option>
			</select>
			<i class="icon-group"></i>
			<input type="text" name="personnum" value="{{ order.personnum }}"pattern="[0-9]*"/>
		</div>
		<div class="order-detail inline-group">
			<i class="icon-pencil"></i>
			<!--<textarea name="other" placeholder="备注">{{ order.other }}</textarea>-->
			<input type="text" name="other" value="{{ order.other }}" placeholder="备注"/>
		</div>
	</fieldset>
</form>
