{{ restaurant.fullname }}
<form id="restaurant-order-form">
	<fieldset>
		<input type="text" name="orderdate" value="{{ order.orderdate }}" />
		
		<div class="inline-group">
    		<input type="text" name="ordertime" value="{{ order.ordertime }}" />
    		<input type="text" name="personnum" value="{{ order.personnum }}" />
    	</div>

		<textarea name="other" placeholder="其他要求">{{ order.other }}</textarea>
	</fieldset>
	<fieldset>
	    <div class="inline-group">
            <label>联系人</label>
            <input type="text" name="contactname" value="{{ order.contactname }}"/>
            <input type="text" name="contactphone" value="{{ order.contactphone }}"/>
        </div>
	</fieldset>
	<button id="submit-order">提交</button>
</form>
