<div class="rating r-{{score}}">
	<i></i><i></i><i></i><i></i><i></i>
</div>
<div class="order-button">订餐</div>
<article>
	<p>{{ description }}</p>
</article>
<section class="information">
	<div>
		<i class="icon-map-marker-small"></i>
		<p>{{{ address }}}</p>
	</div>
	
	{{ #workinghourAvailable }}
	<div>
		<i class="icon-clock"></i>
		<p>{{{ workinghour }}}</p>
	</div>
	{{ /workinghourAvailable }}
	
	{{ #parkingAvailable }}
	<div>
		<i class="icon-car"></i>
		<p>{{{ parking }}}</p>
	</div>
	{{ /parkingAvailable }}
	
	{{ #discountAvailable }}
	<div>
		<i class="icon-tag"></i>
		<p>{{{ discount }}}</p>
	</div>
	{{ /discountAvailable }}
</section>
