<header>
	<a>预订人信息</a>
</header>
<form>
	<fieldset>
		<div class="inline-group">
			<i class="icon-member-small"></i>
			<input type="text" name="contactname" placeholder="联系人"/>
			<div class="control-group switch off switch-gender">
				<input type="hidden" name="contactgender" value="先生"/>
				<label class="text-off">先生</label>
				<div class="switch-inner">
					<div class="switch-button"></div>
				</div>
				<label class="text-on">女士</label>
			</div>
		</div>
		<div class="inline-group">
			<i class="icon-phone"></i>
			<input type="tel" name="contactphone" placeholder="手机号" />
		</div>
	</fieldset>
</form>
