<div class="rating r-{{score}}">
	<i></i><i></i><i></i><i></i><i></i>
</div>
<div class="order-button">订餐</div>
<article>
	<p>{{ description }}</p>
</article>
<section class="information">
	<p><i class="icon-map-marker-small"> </i>{{ address }}</p>
	{{ #workinghourAvailable }}
		<p><i class="icon-clock"> </i>{{ workinghour }}</p>
	{{ /workinghourAvailable }}
	{{ #parkingAvailable }}
		<p><i class="icon-car"> </i>{{ parking }}</p>
	{{ /parkingAvailable }}
	{{ #discountAvailable }}
		<p><i class="icon-tag"> </i>{{ discount }}</p>
	{{ /discountAvailable }}
</section>
