
<p class="item-name">VVIP国内出入港服务</p>

<section class="order-detail">
    <table>
        <tr><th data-i18n="Order No">订单号</th><td>{{ order_no }}</td></tr>
        <tr><th data-i18n="Date">日期</th><td>{{ attributes.formatted_datetime }}</td></tr>
        <tr><th data-i18n="机场">机场</th><td>{{ attributes.airport }}</td></tr>
        <tr><th data-i18n="航班">航班</th><td>{{ attributes.flight_no }}</td></tr>
        <tr><th data-i18n="贵宾">贵宾</th><td>{{ attributes.guest }}</td></tr>
        <tr><th data-i18n="陪同人数">陪同人数</th><td>{{ attributes.accompany }}</td></tr>
        <tr>
            <th data-i18n="Contact">联系人</th>
            {{#gender}}<td>{{ name }}女士</td>{{/gender}}
            {{^gender}}<td>{{ name }}先生</td>{{/gender}}
        </tr>
        <tr><th data-i18n="Mobile">手机</th><td>{{ mobile }}</td></tr>
        {{#payment}}
        <tr>
            <th data-i18n="价格">价格</th>
            <td>
                <span>￥{{ payment.amount }}</span>
                {{#payment.is_paid}}
                <span class="payment_status paid">已支付</span>
                {{/payment.is_paid}}
                {{#payment.is_payable}}
                <span class="payment_status">未支付</span>
                {{/payment.is_payable}}
            </td>
        </tr>
        {{/payment}}
        {{#comment}}<tr><th data-i18n="Remarks">备注</th><td>{{ comment }}</td></tr>{{/comment}}
    </table>
</section>

{{#payment.is_payable}}
<button class="btn-inverse btn-payable" data-i18n="支付">支付</button>
{{/payment.is_payable}}
