<div class="thumbnail" style="background-image: url(assets/img/default-order-avatar.png)"></div>
<div class="order-list-detail">
<p><span data-i18n="Order No">订单编号</span>: {{ order_no }}</p>
<h3>VVIP服务</h3>
{{#payment}}
<h3>
    <span>￥{{ payment.amount }}</span>
    {{#payment.is_paid}}
    <span class="payment_status paid">已支付</span>
    {{/payment.is_paid}}
    {{#payment.is_payable}}
    <span class="payment_status">未支付</span>
    {{/payment.is_payable}}
</h3>
{{/payment}}
<p>{{ attributes.formatted_datetime }}</p>
</div>
