
<p class="item-name"></p>

<section class="order-detail">
	<table>
		<tr><th colspan="2" data-i18n="Order No">订单号</th></tr>
		<tr><td colspan="2">{{ order_no }}</td></tr>
		<tr><th data-i18n="Order Date">订餐日期</th><th data-i18n="Order Time">订餐时间</th></tr>
		<tr><td>{{ orderdate }}</td><td>{{ ordertime }}</td></tr>
		<tr><th colspan="2" data-i18n="Peoples">就餐人数</th></tr>
		<tr><td colspan="2">{{ personnum }}</td></tr>
		<tr><th data-i18n="Contact">联系人</th><th data-i18n="Mobile">手机号</th></tr>
		<tr><td>{{ contactname }}</td><td>{{ contactphone }}</td></tr>
		{{ #restaurantinfor.discount }}
    		<tr><th colspan="2" data-i18n="Discount">折扣</th></tr>
            <tr><td colspan="2">{{{ restaurantinfor.discount }}}</td></tr>
        {{ /restaurantinfor.discount }}
        {{#is_prepay}}
        <tr>
            <th colspan="2">支付</th>
        </tr>
        <tr>
            <td>
                <span>￥{{ payment_order.amount }}</span>
                {{#payment_order.is_paid}}
                <span class="payment_status paid">已支付</span>
                {{/payment_order.is_paid}}
                {{^payment_order.is_paid}}
                <span class="payment_status">未支付</span>
                {{/payment_order.is_paid}}
            </td>
        </tr>
        {{/is_prepay}}
	</table>
</section>

{{#product_items.length}}
<section class="order-product">
	<p data-i18n="Concierge Services">私人管家服务</p>
	<div class="products">
		{{ #product_items }}
		<div class="product-item">
			<img src="{{ picture }}" />
		</div>
		{{ /product_items }}
	</div>
	<!--<button class="btn-inverse btn-block-level btn-cancel" data-i18n="Cancel Order">取消订单</button>-->
</section>
{{/product_items.length}}

<section class="order-buttons">
    {{^is_payable}}
    <button class="btn-inverse btn-block-level btn-cancel" data-i18n="Cancel Order">取消订单</button>
    {{/is_payable}}
    {{#is_payable}}
    <table>
        <tbody>
        <tr>
            <td><button class="btn-inverse btn-block-level btn-cancel" data-i18n="Cancel Order">取消订单</button></td>
            <td><button class="btn-inverse btn-block-level btn-payable">支付</button></td>
        </tr>
        </tbody>
    </table>
    {{/is_payable}}
</section>
