<header>
	<p data-i18n="Your order has been received">预订成功</p>
</header>
<div class="content">
	<p data-i18n="Thanks to 4001002003.com"></p>
	<img src="assets/img/daijia.jpg" alt="">
	<p data-i18n="Save 10RMB on every order from clubmeiwei.com"></p>
	<p>
	    <span data-i18n="Our driver will contact you as soon as possible, if you have any questions please call"></span>
	    <a href="tel:4001002003">4001002003</a>
	</p>
</div>
<div class="action button-group view-dialog">
	<div class="grid">
		<button class="btn-cancel" data-i18n="Close">关闭</button>
	</div>
	<div class="grid">
		<button class="btn-confirm btn-inverse" data-i18n="Book More">继续下单</button>
	</div>
</div>
