<form>
	<p class="info-text"></p>
	<fieldset>
		<div class="inline-group">
			<input type="text" name="nickname" value="{{ nickname }}" placeholder="姓名"/>
			<!--
			<div class="control-group switch off switch-gender">
				<input type="hidden" name="sexe" value="0"/>
				<label class="text-off">先生</label>
				<div class="switch-inner">
					<div class="switch-button"></div>
				</div>
				<label class="text-on">女士</label>
			</div>
			-->
			<select name="sexe" value="">
				<option value="0" {{ ^sexe }} selected {{ /sexe }}>先生</option>
				<option value="1" {{ #sexe }} selected {{ /sexe }}>女士</option>
			</select>
		</div>
		<div class="inline-group">
			<i class="icon-envelope"></i>
			<label>邮箱</label>
			<input type="email" name="email" value="{{ email }}" placeholder="邮箱"/>
		</div>
		<div class="inline-group">
			<i class="icon-phone"></i>
			<label>手机</label>
			<input type="tel" name="mobile" value="{{ mobile }}" placeholder="手机"/>
		</div>
		<div class="inline-group">
			<i class="icon-calendar"></i>
			<label>生日</label>
			<input type="date" name="birthday" value="{{ birthday }}" />
		</div>
		<div class="inline-group">
			<i class="icon-calendar"></i>
			<label>纪念日</label>
			<input type="date" name="anniversary" value="{{ anniversary }}" />
		</div>
	</fieldset>
	<button class="btn-inverse">
		修改资料
	</button>
</form>
