//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
input[type="submit"], button, .btn {
	@include box-sizing(border-box);
	display: inline-block;
	cursor: pointer;

	height: 44px;
	padding: 9px;
	margin-bottom: 0; // For input.btn

	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	text-align: center;
	vertical-align: middle;
	color: $brownDark;
	background-color: $white;
	@include clear-tap-highlight();

	border: 1px solid $btnBorder;
	@include border-radius($baseBorderRadius);

	&.btn-inverse,
	&.active,
	&:active {
		color: $white;
		background-color: $brown;
		outline: 0;
	}

}
