
@mixin carousel($carouselWidth: 150px) {

	.carousel {
		@include size(100%, $carouselWidth);
		@include center-block();
	}
	
	.carousel-inner {
		height: 100%;
		@include flex-box($orient: horizontal);
	}
	
	.carousel-item {
		@include size(100%, $carouselWidth);
		padding: 5px 10px;
		position: relative;
		overflow: hidden;
		> .tag {
			display: block;
			position: relative;
			height: 40px;
			top: -40px;
			width: 100%;
			padding: 5px;
			@include border-bottom-right-radius(10px);
			@include border-bottom-left-radius(10px);
			background-color: $brown;
			opacity: 0.9;
			font-size: $fontSizeMini;
			line-height: 15px;
			color: white;
			text-align: center;
		}
		> .img {
			@include border-radius(10px);
			border: 1px solid $brownLight;
			overflow: hidden;
			&, & img {
				height: 100%;
				width: 100%;
			} 
		}
	}
	
	.indicator {
		position: relative;
		width: 85px;
		height: 10px;
		margin: 5px auto;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
		@include background-size(15px 10px);
		.dotty {
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			background: #777;
		}
	}

}
