.restaurant-list-item {
	height: 125px;
	overflow: hidden;
}
.recommend-list-item {
	height: 125px;
	overflow: display;
	position: relative;
	img {
		left: 0;
		top: 0;
		height: 200%;
		width: 100%;
		max-width: 400px;
		position: absolute;
		z-index: -1;
	}
}
