//
// Inputs
// --------------------------------------------------

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	@include box-sizing(border-box);
	@include box-shadow(none);
	@include clear-outline();
	@include placeholder($brownLight);
	display: block;
	color: $brown;
	font-family: $sansFontFamily;
	font-size: $baseFontSize;
	padding: 8px 11px;
	height: 44px;
	width: 100%;
	-webkit-appearance: none;
	border: 1px solid $brownLight;
}

fieldset {
	margin: 10px 0;
	:first-child {
		@include border-top-left-radius($baseBorderRadius);
		@include border-top-right-radius($baseBorderRadius);
	}
	:not(:first-child) {
		position: relative;
		top: -1px;
	}
	:last-child {
		@include border-bottom-left-radius($baseBorderRadius);
		@include border-bottom-right-radius($baseBorderRadius);
	}
}

// Textarea
textarea {
	height: auto;
	font-size: $baseFontSize * 1.071; /* 15px */
	line-height: 24px;
	padding: 5px 11px;
	text-indent: 0;
	
	.row-fluid & {
		height: auto;
		width: 100% !important;
	}
}
