//
// Inputs
// --------------------------------------------------

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: block;
	color: $brown;
	font-family: $sansFontFamily;
	font-size: $baseFontSize;
	padding: 8px 5px;
	height: 44px;
	text-indent: 6px;
	-webkit-appearance: none;
	@include box-shadow(none);
	@include placeholder($brownLight);
	//@include transition("border .25s linear, color .25s linear");

	outline: 0;
    outline-style:none;
    outline-width:0;
	
	//@include border-radius($baseBorderRadius);
	border: none;
	&:hover, &:focus {
		border: none;
	}
}

fieldset {
	border: 1px solid $brownLight;
	@include border-radius($baseBorderRadius);
}

// Text field grids
input,
textarea,
.uneditable-input {
	width: 192px;
}

// Textarea
textarea {
	height: auto;
	font-size: $baseFontSize * 1.071; /* 15px */
	line-height: 24px;
	padding: 5px 11px;
	text-indent: 0;
	
	.row-fluid & {
		height: auto;
		width: 100% !important;
	}
}

textarea[class*="span"] {
	width: 100% !important;
	@include box-sizing(border-box);
}
