$view-max-width: 400px;
.view, .view > header {
	max-width: $view-max-width;
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: $bodyBackground;
}

.view {
	position: fixed;
	top: 0;
	@include size(100%, 100%);
	padding: $navbarHeight 0 0 0;
	margin: 0;
	overflow: hidden;
	
	z-index: 2;
	visibility: visible;
	&.view-hidden {
		z-index: 0;
		visibility: hidden;
		pointer-events: none;
		@include transition(visibility $pageSwitchDuration ease-in-out $pageSwitchDuration);
	}
	
	& > .wrapper {
		@include flex-box($orient: vertical);
		@include size(100%, 100%);
		background-color: $bodyBackground;
		position: relative;
		@include translate3d(0, 0, 0);
		@include animation(slideinfromright $pageSwitchDuration ease-in-out);
	}
	
	&.view-hidden > .wrapper {
		@include translate3d(100%, 0, 0);
		@include animation(slideouttoleft $pageSwitchDuration ease-in-out);
	}
}

@include keyframes-transform(slideinfromright, translate3d(100%, 0, 0), translate3d(0, 0, 0));
//@include keyframes-transform(slideouttoleft, translate3d(0, 0, 0), translate3d(10%, 5%, 0));
@include keyframes-transform(slideouttoleft, translate3d(0, 0, 0), translate3d(-100%, 0, 0));

.view > .wrapper > .scroll{
	@include flexible();
	position: relative;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	&::-webkit-scrollbar {
		display: none;
	}
	& > .scroll-inner {
		width: 100%;
		@include flex-box();
	}
}

#apploader {
	@include flex-box();
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	width: 100px;
	height: 50px;
	margin: -25px -50px;
	@include border-radius(10px);
	background-color: $brownLight;
	pointer-events: none;
	opacity: 0.7;
	-webkit-transition: opacity .35s;
	transition: opacity .35s;
	&.hide {
		opacity: 0;
	}
}

#apploader .loader{
	-webkit-user-select: none;
	pointer-events: none;
	height: 20px;
	width: 20px;
	font-size: 16px;
	color: #666;
	line-height: 20px;
	color: #666;
	text-shadow: 0 1px #fff;
	background: transparent url(../img/activity-indicator.png) no-repeat;
	background-size: 20px auto;
	-webkit-animation: loading-sprite 1s step-start infinite;
}

@include keyframes(loading-sprite) {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}
