$view-max-width: 400px;
.view, .view > header {
	max-width: $view-max-width;
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: $bodyBackground;
}

.view {
	position: fixed;
	top: 0;
	@include size(100%, 100%);
	padding: $navbarHeight 0 0 0;
	margin: 0;
	overflow: hidden;
	
	&.view-hidden {
		pointer-events: none;
	}
	
	& > .wrapper {
		@include flex-box($orient: vertical);
		@include size(100%, 100%);
		background-color: $bodyBackground;
		position: relative;
		@include translate3d(0, 0, 0);
		@include animation(slideinfromright $pageSwitchDuration ease-in-out);
	}
	
	&.view-hidden > .wrapper {
		visibility: hidden;
		@include translate3d(100%, 0, 0);
		@include animation(slideouttoleft $pageSwitchDuration ease-in-out);
	}
}

.view > .wrapper > .scroll {
	background: url($backgroundBottomPath) no-repeat bottom;
	@include background-size(contain);
	@include flexible();
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	
	&.iscroll {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	& > .scroll-inner {
		background-color: $bodyBackground;
		width: 100%;
		@include flex-box();
	}
	&.scroll-infinite > .scroll-inner::after {
		content: attr(data-hint);
		display: block;
		line-height: 60px;
	} 
}

#apploader {
	@include flex-box();
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	width: 120px;
	min-height: 50px;
	margin: -25px -60px;
	padding: 10px;
	@include border-radius(10px);
	background-color: $brownLight;
	pointer-events: none;
	opacity: 1;
	@include transition(opacity .35s ease-in-out);
	&.hide {
		opacity: 0;
	}
	.ajax-error {
		font-size: $fontSizeMini;
		text-align: center;
	}
}

#apploader .loader{
	@include user-select(none);
	pointer-events: none;
	height: 20px;
	width: 20px;
	font-size: 16px;
	color: #666;
	line-height: 20px;
	color: #666;
	text-shadow: 0 1px #fff;
	background: transparent url(../img/activity-indicator.png) no-repeat;
	background-size: 20px auto;
	@include animation(loading-sprite 1s step-start infinite);
}
