
body {
	background-color: $bodyBackground;
}

.view, .header-navbar, #apploader {
    width: 100%;
    max-width: 400px;
}

.view {
	position: absolute;
	top: 0;
	left: 0;
	padding: $navbarHeight 0 0 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	&.view-next, &.view-prev, &.view-hidden {
        pointer-events: none;
    }
    &.view-hidden {
        max-height: 0;
        visibility: hidden;
    }
    &.view-next, &.view-prev {
        max-height: none;
        visibility: visible;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    background-color: $bodyBackground;
    @include flex-box($orient: vertical, $pack: start);
    @include backface-visibility(hidden);
    @include translate3d(0, 0, 0);
    &.rendering {
        opacity: 0;
    }
}

.view.view-next > .wrapper {
    @include animation(slideinfromright $pageSwitchDuration linear);
    -webkit-animation-fill-mode: forwards;
}

.view.view-prev > .wrapper {
    @include animation(slideouttoleft $pageSwitchDuration linear);
    -webkit-animation-fill-mode: forwards;
}

#apploader {
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 9999;
	width: 100%;
    @include transition(opacity .35s ease-in-out);
    .loader {
        @include flex-box($orient: vertical);
        width: 140px;
        margin: 0 auto;
        min-height: 60px;
        padding: 10px;
        @include border-radius(5px);
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
    }
    .ajax-error {
        font-size: $fontSizeMini;
        text-align: center;
        color: $white;
    }
    .loading-sprite {
        @include user-select(none);
        pointer-events: none;
        height: 20px;
        width: 20px;
        margin: 10px 0;
        font-size: 16px;
        color: #666;
        line-height: 20px;
        color: #666;
        text-shadow: 0 1px #fff;
        background: transparent url($activityIndicator) no-repeat center;
        background-size: 20px auto;
        @include animation(loading-sprite 1s step-start infinite);
    }
    &.invisible .loading-sprite {
        @include animation(none);
    }
}
