%thumbnail-list-item {
	@include border(0 0 1px 0, solid, $brownDark);
	@include size(90px, 100%);
	padding: 9px 17px 9px 99px;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		@include square(89px);
	}
	h1 { @include text-overflow(); }
	p { font-size: $fontSizeMini; }
}

.thumbnail-list-item {
	@extend %thumbnail-list-item;
}

.restaurant-list-item {
	@extend %thumbnail-list-item;
	.rating {
		position: absolute;
		right: 17px;
		bottom: 0;
	}
}

.order-list-item {
	@extend %thumbnail-list-item;
	@include text-overflow();
	@include flex-box($orient:horizontal);
	> .order-list-detail {
		@include flexible();
		width:0;
	}
}

.simple-list-item {
	$itemHeight: 45px;
	@include size($itemHeight, 100%);
	padding: 0 17px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: $brown;
	@include flex-box($orient: horizontal);
	> .span {
		@include flexible();
		@include text-overflow();
		max-height: $itemHeight;
		width: 0;
	}
}
