
$navbarHeight:		44px !default;
$bannerHeight:		65px !default;
$navbarPadding:		17px !default;

.view > header {
	height: $navbarHeight;
	padding: 0 $navbarPadding;
	position: relative;
	width: 100%;
	@include flex-box($orient: horizontal);
	
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	
	z-index: $zindexNavbar;
	
	&::before {
		content: " ";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: $bannerHeight;
		margin: 0 (-$navbarPadding);
		background: transparent url($bannerImagePath) repeat-x;
		@include background-size(contain);
	}
}

.view > header h1 {
	padding: 0 5px;
	margin: 0;
	
	text-align: center;
	font-size: $fontSizeLarge;
	line-height: $navbarHeight;
	
	@include text-overflow();
	@include flexible();
}

.view > header input[type=search] {
	@include border-radius(15px);
	@include placeholder();
	@include flexible();
	@include clear-tap-highlight();
	border: 1px solid $brown;
	height: 26px;
	padding: 0 15px;
	font-size: $fontSizeSmall;
  	line-height: $baseLineHeight;
}
