
.view > header {
	@include flex-box($orient: horizontal);
	@include size($navbarHeight, 100%);
	//padding: 0 $navbarPadding;
	position: fixed;
	top: 0;
	z-index: $zindexFixedNavbar;
	
	&::before {
		content: " ";
		background: transparent url($bannerImagePath) repeat-x;
		@include background-size(contain);
		@include size($bannerHeight, 100%);
		position: absolute;
		z-index: -1;
		//margin: 0 (-$navbarPadding);
	}
	
	opacity: 1;
	visibility: visible;
	@include animation(all $pageSwitchDuration ease-in-out);
}

.view-hidden > header {
	opacity: 0;
	visibility: hidden;
	@include transition(all $pageSwitchDuration ease-in-out);
}

.view > header > h1 {
	padding: 0 5px;
	margin: 0;
	
	text-align: center;
	font-size: $fontSizeLarge;
	line-height: $navbarHeight;
	
	@include text-overflow();
	@include flexible();
}

.view > header > form {
	@include flexible();
	> input[type=search] {
		@include border-radius(500px);
		width: 100%;
		border: 1px solid $brown;
		height: 26px;
		padding: 0 15px;
		font-size: $fontSizeSmall;
	  	line-height: $baseLineHeight;
	}
}

.view > header > .header-btn {
	@include size(50px, 53px);
	padding-bottom: 6px;
	@include flex-box($orient: horizontal);
}

.filter-bar {
	@include flex-box($orient: horizontal);
	@include size(50px, 100%);
	background-color: $brown;
	> .filter {
		@include flexible();
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: $fontSizeSmall;
		color: $white;
	}
	> .collapsible {
		position: relative;
		& > .collapsible-inner {
			@include scrollable(5px);
			position: absolute;
			z-index: $zindexPopover;
			top: 50px;
			height: 0;
			background-color: $brown;
			color: $white;
			width: 100%;
			@include transition(height .35s ease-in-out);
		}
		&.expand > .collapsible-inner {
			height: 200px;
			@include transition(height .35s ease-in-out);
		}
	}
}
