html {
	font-size: 100%;
}

body {
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	color: $textColor;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
